.navbar {
  @apply theme-bg
  container
  flex
  flex-wrap
  justify-between
  mx-auto;

  @apply px-4 py-2 lg:py-4;

  @apply border-b-2 border-b-gray-100  dark:border-slate-800;

  @media screen(lg) {
    @apply flex-row border-b-transparent border-b-0;
  }
}

.navbar--fix-top {
  @apply left-0 fixed right-0 top-0 z-50;
}

.navbar__container {
  @apply flex items-center justify-between w-full;
  @apply theme-text;

  flex-wrap: inherit;

  @media screen(lg) {
    @apply justify-end;
  }
}

.navbar-brand {
  @apply inline-block;

  @media screen(lg) {
    @apply hidden;
  }
}

.navbar-brand__title {
  @apply m-0 theme-text inline font-bold;
}

.navbar__toggler {
  @apply inline-block;

  @media screen(lg) {
    @apply hidden;
  }
}

.navbar__actions {
  @apply flex items-center justify-between;

  @media screen(lg) {
    @apply order-2;
  }
}

.navbar__navigation {
  @apply flex flex-col;

  @media screen(lg) {
    @apply flex-row;
  }
}

.navbar__collapse {
  @apply basis-full flex mx-1;

  @media screen(lg) {
    @apply basis-auto flex !important;
  }
}

.navbar__collapse--show {
  @apply flex !important;
}

.collapsable:not(.navbar__collapse--show) {
  @apply hidden;
}

.navbar__menu {
  @apply flex flex-col mx-1;

  @media screen(lg) {
    @apply flex-row;
  }
}

.navbar-link {
  @apply theme-text p-2;

  @media screen(lg) {
    @apply flex-row;
  }
}

.navbar-link--active {
  @apply font-medium theme-text;
}

.navbar__theme {
  @apply p-2 flex justify-evenly items-center;

  @media screen(lg) {
    text-align: initial;
  }
}

.navbar__switch-theme {
  @apply theme-text inline;

  @media screen(lg) {
    @apply hidden;
  }
}
